/*  css   cascading  stylesheet */

body {
    height: 3000px;
    background-image: url("../images/banner.jpg");
}
 

.header {
    width: 100%;
    height: 80px;
        background-color: mediumpurple;
   
}

.img1 {
    width: 100px;
    height: 60px;
    float: left;
    margin-left: 200px;

}
ul {
    list-style: none;
    float: right;
    margin-right: 150px;
}

.ul1 li {
    display: inline-block;
    margin-left: 20px;
    color: #Fff;
    font-size: 20px;
}

    .ul1 li a {
        text-decoration: none;
        color: #fff;

    }
.banar {
    width: 100%;
    height:300px;
   
  
}
    .banar  {
        background-image: url(../images/pct.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 700px;
        height: 300px;
       margin: auto;
        /* margin-right: 50px;*/
    }
    
.list1 {
    list-style: none;
  
    
}
.list1 li {
    width: 200px;
   height: 150px;
   display: inline-block;
    margin-left: 20px;
    color: #Fff;
    font-size: 20px;
   padding: auto;
   
}

#total{ color: beige;
font-size: 25px;}

#content{ color: #fff; font-size: large;}

